




.headerMain {
  background-color: #fafbfa;
  font-family: "DM Sans", sans-serif;
  background-image: url("../images/banner.png");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

.header1 {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header2 {
  width: 100%;
}

.header3 {
  width: 100%;
}

.mainBanner {
  visibility: hidden;
}

.header3 img {
  width: 100%;
}

.title1 {
  font-size: 48px;
  font-weight: 100;
  margin: 0;
  color: #081313;
}

.subtitle {
  font-size: 64px;
  margin: 0;
  color: #081313;
}

.BtnMain {
  background-color: #54c9cc;
  color: white;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.BtnMain:hover {
  background-color: #129bad;
  color: white;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .headerMain {
    background: none;
    background-color: #fafbfa;
    padding-bottom: 3rem;
  }

  .mainBanner {
    visibility: visible;
  }

  .header1 {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .header2 {
    width: 100%;
    visibility: visible;
    margin: 30px 0;
    text-align: center;
  }

  .title1 {
    font-size: 34px;
    color: #1a1d20;
    text-align: center;
  }

  .subtitle {
    font-size: 30px;
    color: #1a1d20;
    margin: 10px 30px;
    text-align: center;
  }

  .header1 {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
}
